/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Work Sans', sans-serif;
}

#projects {
	background-color: #5D737E;
}

#landing {
	background-color: #F3F3F3;
	font-size: 60px;
}

#aboutme {
	background-color: #ACBFA4;
}

#resume {
	background-color: #5D737E;
	width: 180px;
}

#fontaboutme {
	font-size: 50px;
}

#socmed {
	font-size: 70px;
}

#contact {
	background-color: #F3F3F3;
}

#status1 {
	font-weight: bold;
	color: black;
	background-color: #85D6EA;
	border-radius: 50px;
	padding: 5px;
	margin: 10px;
}

#status2 {
	font-weight: bold;
	color: black;
	background-color: #FAF33E;
	border-radius: 50px;
	padding: 5px;
	margin: 10px;
}

#form {
	background-color: #ACBFA4;
	padding: 15px;
	border-radius: 20px;
}

#btn {
	background-color: #5D737E;
}