* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

#projects {
	background-color: #49475B;
}

#bgsection {
	background-color: #F3F3F3;
}

#aboutme {
	font-size: 50px;
}