/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Work Sans', sans-serif;
}

#projects {
	background-color: #5D737E;
}


#landing {
	background-color: #F3F3F3;
	font-size: 60px;
}

div #hello {
	font-size: 60px;
}


#aboutme {
	background-color: #ACBFA4;
}

#resume {
	font-weight: bold;
	background-color: #5D737E;
	width: 300px;
}

#fontaboutme {
	font-size: 50px;
}

#socmed {
	font-size: 70px;
}

#contact {
	background-color: #F3F3F3;
}

#status1 {
	font-weight: bold;
	color: black;
	background-color: #85D6EA;
	padding: 5px;
	margin: 10px;
	width: 200px;
}

#status2 {
	font-weight: bold;
	color: black;
	background-color: #FAF33E;
	padding: 5px;
	margin: 10px;
	width: 200px;
}

#form {
	background-color: #ACBFA4;
	padding: 15px;
	border-radius: 20px;
}

/*#btn {
	background-color: #5D737E;
}*/

.btn {
 position: relative;
 font-size: 17px;
 text-transform: uppercase;
 text-decoration: none;
 padding: 1em 2.5em;
 display: inline-block;
 border-radius: 6em;
 transition: all .2s;
 border: none;
 font-family: inherit;
 font-weight: 500;
 color: black;
 background-color: white;
}

.btn:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
 transform: translateY(-1px);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 transition: all .4s;
}

.btn::after {
 background-color: #fff;
}

.btn:hover::after {
 transform: scaleX(1.4) scaleY(1.6);
 opacity: 0;
}

-------------------------------------------------------------------------
.btn2 {
 appearance: none;
 background-color: transparent;
 box-sizing: border-box;
 color: #3B3B3B;
 cursor: pointer;
 display: inline-block;
 margin: 0;
 min-height: 3.75em;
 min-width: 0;
 outline: none;
 padding: 1em 2.3em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.btn2:disabled {
 pointer-events: none;
}

.btn2:hover {
 color: #fff;
 background-color: #1A1A1A;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

.btn2:active {
 box-shadow: none;
 transform: translateY(0);
}
